 {% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1 align = "center" style="color:#FFFFFF">Portofolio</h1>
    <center><img class="img-circle" src="https://image.ibb.co/kt1JR5/10.jpg" alt="My image" width="150" height="150"></center>

    <hr/>
    <style>
body{
  background-image: url("https://68.media.tumblr.com/3eb473ab7a2ffc38cec345a3172c82a3/tumblr_oq6fucANWg1vyn4too1_1280.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
-webkit-background-size: 100% auto;
-moz-background-size: 100% auto;
-o-background-size: 100% auto;
background-size: 100% auto ;
}
</style>
    <section style="color:#FFFFFF" name="bio">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
    <section style="color:#FFFFFF" name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
     <section style="color:#FFFFFF" name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
